.bg-orange {
  background-color: #FF5D00;;
}
.text-orange {
  color: #FF5D00;;
}
.btn-orange {
  background-color: #FF5D00;;
  color: white;
}
.btn-orange:hover {
  background-color: #FF5D00;;
}
.card-borderless {
  border: none;
}
.tab-line {
  border-bottom: 2px solid #FF5D00;;
}
.form-control:focus {
  box-shadow: none;
  border-color: #FF5D00;;
}
