
.badge-status {
  padding: 0.5em 1em;
  font-size: 0.9em;
  border-radius: 20px;
}
.badge-green {
  background-color: #e6f4ea;
  color: #228b22;
}
.badge-yellow {
  background-color: #fff7e6;
  color: #ff9900;
}
.badge-red {
  background-color: #ffe6e6;
  color: #cc0000;
}
.table th, .table td {
  vertical-align: middle;
}


.btn-outline-primary {
  border-color: #FF5D00;
  color: #FF5D00;
}

.btn-outline-primary:hover {
  background-color: #FF5D00;
  color: white;
  border-color: #FF5D00;
}
button.btn:hover {
  background-color: #1D2A5C !important;
  color: white !important;
  border-color:#1D2A5C !important;
}
.btn-orange{
  background-color: #FF5D00 !important;
  color: white !important;
}
